# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
*.spec

# Virtual envs
.venv/
venv/
env/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store

# Logs / Data
*.log
*.pcap
*.pcapng
*.db
mitm_analyzer.log

# Local configs
config.json
